---
---

@charset "utf-8";

$bg-red: #b62135;
$bg-red-darker: #8a0e27;

.bg-red{
  background-color: $bg-red !important;
}

.empty-ul{
  // ul without markers
  list-style: none;
  padding-left: 0;
}

.text-red{
  color: $bg-red !important;
}


.fw-extra-bold{
  font-weight: 900;
}


.bg-red.darker{
  background-color: $bg-red-darker;
}


.text-purple{
  color: $bg-red;
}



body,html{
  overflow-x: hidden;
  height: 100%;
  background-color: #f4f4f4 !important;
  font-family: "Montserrat" !important;
}


h1, h2, h3, h4, h5, h6, .highlight{
  font-family: "Passion One";
  font-weight: 700 !important;
  font-size: 150%;
  }


  .slogan{
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  line-height: 1.7;
  padding: 0.15rem 0.5rem;
}

.fs-smaller{
  font-size: 1rem;
}

header{
  padding-bottom: 2rem !important;
  margin-bottom: 5rem !important;
}

$image-width: 5.5rem;

.navbar-brand{
  bottom: -$image-width/2;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  img{
    width: $image-width;
    filter: drop-shadow(0 .125rem .25rem rgba(0,0,0,.175));
  }
}


ul.nav-pills .nav-link{
  font-weight: 700;
  color: #000;
  &.active{
    background-color: $bg-red;
  }
}

ul:not(.nav-pills) .nav-link {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 500 !important;
  &.active{
    font-weight: 900 !important;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 5px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after, &.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.list-group-item-action-purple{
  transition: background-color 0.2s ease;
}

.list-group-item-action-purple:hover{
  background-color: #d9cbf0 !important;
}

.btn-purple{
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #{$bg-red} !important;
  --bs-btn-border-color: #{$bg-red} !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #{$bg-red-darker} !important;
  --bs-btn-hover-border-color: #{$bg-red-darker} !important;
  --bs-btn-focus-shadow-rgb: 120, 37, 250 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #3c0792 !important;
  --bs-btn-active-border-color: #3c0792 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #3a2063 !important;
  --bs-btn-disabled-border-color: #3a2063 !important;
}

.btn-outline-purple{
  --bs-btn-color: #{$bg-red} !important;
  --bs-btn-border-color: transparent  !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #{$bg-red} !important;
  --bs-btn-hover-border-color: #{$bg-red} !important;
  --bs-btn-focus-shadow-rgb: 120, 37, 250  !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #{$bg-red} !important;
  --bs-btn-active-border-color: #{$bg-red} !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #{$bg-red} !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #{$bg-red} !important;
  --bs-gradient: none !important;
}


.reveal-card{
  display: block;
  background-image: linear-gradient(to top,
                    transparent,
                    transparent 50%,
                    #{$bg-red} 50%,
                    #{$bg-red});
border: 6px solid #{$bg-red} !important;
border-radius: 0px !important;
color: #{$bg-red} !important;
text-decoration: none;
  background-position: 0 -95%;
    background-size: 100% 210%;
    transition: all .25s ease;
  padding: 2.8rem 2rem 2rem 2rem;

    &:hover{
      background-position: 0 0;
      color:white !important;
    }

    .icon-bottom{
      position: absolute;
      span{
        font-size: 1.5rem;
        width: 3.6rem;
        height: 3.6rem;
        background-color: white;
        border-radius: 100%;
        color: #{$bg-red} !important;
        border: 6px solid #{$bg-red} !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      top: -1.8rem;
      left: 0px;
      right: 0px;

    }
}


.background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100px),url('/img/sfondo.png'),;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: -1;
  display: flex;
  justify-content: center;
      background-size: 100% 100%;
    @media screen and (orientation:portrait) {
    align-items: flex-end;
  }
  @media screen and (orientation:landscape) {
    align-items: center;
  }

  .overlay{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
      background-position: center;
    @media screen and (orientation:portrait) {
      background-image: url('/img/overlay-mobile.png');
      }

      @media screen and (orientation:landscape) {
      background-image: url('/img/overlay-desktop.png');      }
  }

}

.card-header .collapse-arrow{
  transition: transform 0.3s ease-in-out;
}
.card-header:not(.collapsed) > .collapse-arrow{
  transform: rotate(180deg);
}



.card{
  border: none !important;
  box-shadow: 0 .5rem 1rem rgba(#000, .075) !important;

  .card-header{
    background-color: #fff !important;
    border: none !important;
  }
}