---
layout: header
title: Menu
permalink: /menu
navbarcolor: bg-red
---
<div class="container">
  <div class="row gy-4 mb-5">
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-red my-0">Menu Osteria</h3>
        </div>
        <div class="card-body">
            {% include tabella.html info=site.data.osteria%}
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-red my-0">Menu Ristorante</h3>
        </div>
        <div class="card-body">

          {% include tabella.html info=site.data.ristorante %}
          <p class="mb-0 mt-3">
            <span class="d-inline-flex">
              <span class="material-symbols-outlined text-success ms-2">
                nest_eco_leaf
              </span>
              = vegano
            </span>
          </p>

        </div>
      </div>
    </div>
    </div>
</div>

