<nav class="navbar fs-smaller navbar-expand-lg {{page.navbarcolor}} darker" data-bs-theme="dark">
  <div class="container-fluid">



    <button class="ms-auto navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto">
        {% for item in site.data.menu %}
        <li class="nav-item mx-3">
          {%assign starts = item.link | slice: 0 %}
          <a class="nav-link text-center text-light {% if item.link == page.url %}active{% endif %}"
            href="{% if starts == '/' %}{{site.url}}{{item.link}} {% else %} {{item.link}}{% endif %}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</nav>
