<nav class="navbar fs-smaller navbar-expand-lg {{page.navbarcolor}} darker" data-bs-theme="dark">
  <div class="container-fluid">

<button class="ms-auto text-white fw-extra-bold navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation" style="  outline: none;">

        <div class="d-flex align-items-center">
        {% if include.info %}<span class="me-3">Info</span>{% endif %}

    <span>
	        <i class="bi bi-list" style="font-size: 2rem;"></i>
        </div>

</span>

    </button>

    <div class="offcanvas offcanvas-end bg-red" id="navbarScroll">
      <div class="offcanvas-header text-white">
        <h4>Festa 2023</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>


      </div>

      <ul class="navbar-nav mx-auto">
        {% for item in site.data.menu %}
        <li class="nav-item mx-3">
          {%assign starts = item.link | slice: 0 %}
          <a class="nav-link text-center text-light {% if item.link == page.url %}active{% endif %}"
            href="{% if starts == '/' %}{{site.url}}{{item.link}} {% else %} {{item.link}}{% endif %}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</nav>
