<!DOCTYPE html>
<html lang="it">
  <head>
    {% include head.html %}

  </head>

  <body style="background-color: #f2eeee">
    {% include nav.html%}

    <header class="bg-red shadow-lg pt-1 position-relative" >
  <div class="row mt-4">
    <div class="col-auto mx-auto">
      <img src="img/logo.png" style="max-height: 15vh">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-auto mx-auto text-center">
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-auto mx-auto">
      <h1 class="text-center text-light fw-bold"> {{page.title}}</h1>
    </div>
  </div>

</header>
    {{ content }}
    {% include footer.html %}
    </body>

</html>